@model SalidaViewModel

@{
	ViewBag.Title = "Marcar salida";
}

<h1>Salida</h1>

<h5>
	Confirmar salida de vehiculo con placa: <b>@Model.Placa</b> a las <b>@Model.HoraSalida</b> con un total de
</h5>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Placa</th>
				<th scope="col">Hora de entrada</th>
				<th scope="col">Hora de salida</th>
				<th scope="col">
					@if (Model.TipoVehiculo == "Residente")
					{
						<label>Tiempo de estancia total (Min)</label>
					}
					else
					{
						<label>Tiempo de estancia (Min)</label>
					}
				<th scope="col">
						@if (Model.TipoVehiculo == "Residente")
						{
						<label>Valor a pagar acumulado</label>
						}
						else
						{
						<label>Valor a pagar</label>
						}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.Placa</td>
				<td>@Model.HoraIngreso</td>
				<td>@Model.HoraSalida</td>
				<td>@Model.TiempoEstancia min </td>
				<td>MXN $@Model.ValorAPagar</td>
			</tr>
		</tbody>
	</table>
</div>

<form asp-action="Salida">
	<input type="hidden" asp-for="Placa" />
	<input type="hidden" asp-for="HoraIngreso" />
	<input type="hidden" asp-for="HoraSalida" />
	<input type="hidden" asp-for="TipoVehiculo" />
	<input type="hidden" asp-for="Placa" />
	<input type="hidden" asp-for="ValorAPagar" />
	<input type="hidden" asp-for="VehiculoId" />
	<button type="submit" class="btn btn-primary">Confirmar</button>
	<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>